* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

#root {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid teal;
}

.post_btn {
    margin-top: 5px;
    max-width: 100px;
}